__pycache__/
output/logs
.idea/
.DS_Store
train_loader/*
configs/example_hf.jsonc
configs/example_uci.jsonc
resources/data/*
resources/cached/*
output/runs
saliency_maps/*
*.pdf
launchers/*
data/*
.vscode/*